<div class="login__container">
  <div class="login__card">
    <div class="login__imgbox text-center">
      <img
        src="assets/images/logo/logo.png"
        alt="Application Logo"
        loading="lazy"
        class="login__logo"
      />
    </div>
    <form
      class="form mt-sm"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="off"
      spellcheck="false"
    >
      <div class="form-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          placeholder="Password"
          formControlName="password"
        />
        <span class="input-icon pointer" (click)="showPassword = !showPassword">
          <mat-icon>{{
            showPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </span>
      </div>
      <div
        class="form-error"
        *ngIf="
          form.get('password').invalid &&
          (form.get('password').touched || form.get('password').dirty)
        "
      >
        <ng-container *ngIf="form.get('password').errors?.['required']"
          >Password is required</ng-container
        >
        <ng-container *ngIf="form.get('password').errors?.['pattern']"
          >Password must contain atleast one numeric, one uppercase, one
          lowercase and a special character.</ng-container
        >
      </div>
      <div class="form-group mt-xs">
        <input
          [type]="showRepeatPassword ? 'text' : 'password'"
          class="form-control"
          placeholder="Retype Password"
          formControlName="repeat"
        />
        <span
          class="input-icon pointer"
          (click)="showRepeatPassword = !showRepeatPassword"
        >
          <mat-icon>{{
            showRepeatPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </span>
      </div>
      <div
        class="form-error"
        *ngIf="
          form.get('repeat').invalid &&
          (form.get('repeat').touched || form.get('repeat').dirty)
        "
      >
        <ng-container *ngIf="form.get('repeat').errors?.['required']"
          >Password is required</ng-container
        >
      </div>
      <div
        class="form-error"
        *ngIf="form.invalid && form.errors?.['isMatching']"
      >
        Passwords do not match
      </div>
      <div class="form__group mt-sm">
        <button
          class="w-100 login__btn"
          type="submit"
          [disabled]="isLoading"
          mat-raised-button
          color="primary"
        >
          {{ isLoading ? "processing ..." : "Reset Password" }}
        </button>
      </div>
      <div class="mt-xs text-center">
        <a routerLink="../../login" class="login__link">Back to Login</a>
      </div>
    </form>
  </div>
</div>
