@import "src/assets/css/forms";

.login {
  &__container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/login-bg.svg");
    background-size: cover;
  }
  &__card {
    width: 100%;
    max-width: 360px;
    padding: 2rem;

    @media only screen and (min-width: 900px) {
      background-color: var(--color-white);
      box-shadow: var(--shadow);
    }
  }
  &__link {
    font-size: 1rem;
    color: #a0a0a0;
  }
  &__text {
    font-size: 1rem;
    color: #000;
  }
  &__btn {
    text-transform: uppercase;
  }
}
