<div class="login__container">
  <div class="login__card">
    <div class="login__imgbox text-center">
      <img
        src="assets/images/logo/logo.png"
        alt="Application Logo"
        loading="lazy"
        class="login__logo"
      />
    </div>
    <form
      class="form mt-sm"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="off"
      spellcheck="false"
    >
      <div class="input-group">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          formControlName="email"
        />
        <span class="input-icon">
          <mat-icon>mail_outline</mat-icon>
        </span>
      </div>
      <div
        class="form-error"
        *ngIf="
          form.get('email').invalid &&
          (form.get('email').touched || form.get('email').dirty)
        "
      >
        <ng-container *ngIf="form.get('email').errors?.['required']"
          >Email is required</ng-container
        >
        <ng-container *ngIf="form.get('email').errors?.['email']"
          >Please enter a valid email</ng-container
        >
      </div>
      <div class="input-group mt-xs">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
        />
        <span class="input-icon">
          <mat-icon>lock_open</mat-icon>
        </span>
      </div>
      <div
        class="form-error"
        *ngIf="
          form.get('password').invalid &&
          (form.get('password').touched || form.get('password').dirty)
        "
      >
        <ng-container *ngIf="form.get('password').errors?.['required']"
          >Password is required</ng-container
        >
      </div>
      <div class="text-right mt-xs">
        <a routerLink="../reset-password" class="login__link"
          >Forgot Password</a
        >
      </div>
      <div class="form__group mt-xs">
        <button
          class="w-100"
          type="submit"
          [disabled]="isLoading"
          mat-raised-button
          color="primary"
        >
          {{ isLoading ? "PROCESSING ..." : "LOGIN" }}
        </button>
      </div>
      <div class="mt-sm text-center">
        <a routerLink="../signup" class="login__link">Register as a new user</a>
      </div>
    </form>
  </div>
</div>
