@import "src/assets/css/forms";

.signup {
  &__container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  &__card {
    width: 100%;
    max-width: 360px;
    padding: 2rem;

    @media only screen and (min-width: 900px) {
      background-color: var(--color-white);
      box-shadow: var(--shadow);
    }
  }
  &__link {
    font-size: 1rem;
    color: #a0a0a0;
  }
}
