.form-control {
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  color: #495057;
  border: 1.5px solid #ced4da;
  outline: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.6rem 0.75rem 0.6rem 0.75rem;
  background-color: var(--color-white);
  &:focus {
    outline: 2px solid var(--color-primary);
    box-shadow: none;
    border: 1.5px solid transparent;
  }
  &--append {
    padding-right: 2.5rem;
  }
  &--prepend {
    padding-left: 2.5rem;
  }
  &.ng-touched.ng-invalid {
    outline: 2px solid red;
    border: 1.5px solid transparent;
  }
  &::placeholder {
    opacity: 0.4;
  }
}
.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  color: #92929d;
  letter-spacing: 0.11px;
}
.form-group {
  position: relative;
  .input-icon-append {
    color: #495057;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .input-icon-prepend {
    color: #495057;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
.form-error {
  margin-top: 0.25rem;
  padding: 0.5rem;
  color: #cd2026 !important;
  border-radius: 0.25rem;
  background-color: #fef2f3 !important;
  font-size: 14px !important;
  &.mat-error {
    margin-top: 0;
  }
}
