.mat-form-field {
  display: block !important;
}
.mat-raised-button {
  color: var(--color-white) !important;
}
.mat-error {
  font-size: 13px !important;
}
.green-snackbar {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}
.red-snackbar {
  background-color: red !important;
  color: var(--color-white) !important;
}
.mat-icon {
  color: #495057;
}
