.mat-form-field {
  display: block !important;
  line-height: normal !important;
  font-size: 1rem !important;
}
.mat-raised-button {
  color: var(--color-white) !important;
}
.mat-error {
  font-size: 13px !important;
}
.green-snackbar {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}
.red-snackbar {
  background-color: red !important;
  color: var(--color-white) !important;
}
.mat-icon {
  color: #495057;
}
.mat-menu-item {
  border-left: 2px solid transparent !important;
  transition: border 0.2s ease-in-out;
  &:hover {
    color: var(--color-primary);
    border-left: 2px solid currentColor !important;
  }
  .mat-icon {
    color: currentColor;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}
