.table-container {
  background-color: #fff;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(38, 139, 255, 0.07);
  padding: 0.5rem;
  overflow-x: auto;

  .table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        border: 1px solid #ececec;
        background-image: linear-gradient(to bottom, #fcfcfd, #f7f7f9);
      }
      th {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.8px;
        color: #44444f;
        text-transform: uppercase;
        text-align: left;
        padding: 10px;
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f5f9ff;
        }
      }
      td {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #44444f;
        text-align: left;
        padding: 10px;
      }
      .mat-icon-button {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
  .search-box {
    margin-bottom: 1rem;
  }
  .add-btn {
    display: inline-block;
    background-color: var(--color-white);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-size: 14px;
    color: var(--color-primary);
    margin-bottom: 1rem;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
  @media only screen and (min-width: 1200px) {
    padding: 1.5rem 1rem;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .search-box {
      order: -1;
      flex-basis: 40%;
    }
  }
}
.no-data {
  margin-top: 1rem;
  padding-left: 10px;
  font-size: 14px;
  color: #44444f;
}
