.page-heading {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  color: #212529 !important;

  @media only screen and (min-width: 1200px) {
    font-size: 1.8rem !important;
  }
}
.confirmation-text {
  font-size: 1rem;
  font-weight: 500;
  color: #44444f;
}
.key-label {
  font-size: 14px;
  font-weight: 500;
  color: #92929d;
  letter-spacing: 1px;
  margin-bottom: 0 !important;
}
.key-value {
  font-size: 1rem;
  color: #44444f;
  font-weight: 500;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .key-label {
    font-size: 13px;
  }
  .key-value {
    font-size: 14px;
  }
}
