.page-heading {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  color: #212529 !important;

  @media only screen and (min-width: 1200px) {
    font-size: 1.8rem !important;
  }
}
.confirmation-text {
  font-size: 1rem;
  font-weight: 500;
  color: #44444f;
}
