.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.w-100 {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.link {
  &:link,
  &:visited {
    color: var(--color-primary);
    text-decoration: none;
  }
  &:hover {
    color: var(--color-secondary);
  }
}
.form {
  &__group {
    margin-top: 1rem;
  }
}
.page-content {
  background-color: #fff;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(38, 139, 255, 0.07);
  padding: 0.5rem;

  @media screen and (min-width: 1200px) {
    padding: 1.5rem;
  }
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 2.5rem 0;
}
.add-btn {
  display: inline-block;
  background-color: var(--color-white);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 14px;
  color: var(--color-primary);
  margin-bottom: 1rem;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}
