:root {
  --color-primary: #66bb6a;
  --color-secondary: #ff9800;
  --color-white: #fff;
  --header-height: 62px;
  --header-bg: #fff;
  --sidenav-width: 250px;
  --sidenav-color: #343a40;
  --shadow: 0 17px 40px 0 rgba(0, 0, 0, 0.1);
}
