:root {
  --color-primary: #66bb6a;
  --color-secondary: #ff9800;
  --color-white: #fff;
  --header-height: 62px;
  --header-color: #fff;
  --header-bg: #fff;
  --sidenav-width: 250px;
  --sidenav-color: #343a40;
  --shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
