@import "src/assets/css/card";
.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .contacts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-box {
    order: -1;
    flex-basis: 40%;
  }
}
