<div class="layout">
  <header class="header">
    <div class="header__left">
      <button
        class="header__menu"
        mat-icon-button
        color="primary"
        (click)="sidenav.toggleSidenav()"
        aria-label="Navigation Button"
      >
        <mat-icon aria-hidden="false" aria-label="Navigation Icon"
          >menu</mat-icon
        >
      </button>
    </div>
    <div class="header__right">
      <div class="user">
        <p class="mb-0 user__name">{{ username }}</p>
        <img
          src="/assets/images/avatar.png"
          class="user__img"
          loading="lazy"
          alt="Admin's Profile Image"
        />
      </div>
    </div>
  </header>
  <app-sidenav #sidenav></app-sidenav>
  <main class="layout__content">
    <router-outlet></router-outlet>
  </main>
</div>
