.layout {
  &__content {
    margin-top: var(--header-height);
    padding: 1rem;
    @media only screen and (min-width: 1200px) {
      margin-left: var(--sidenav-width);
      padding: 2rem;
    }
  }
}
