.layout {
  &__content {
    margin-top: var(--header-height);
    padding: 0.5rem;
    @media only screen and (min-width: 1200px) {
      margin-left: var(--sidenav-width);
      padding: 1rem 1.5rem;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;

  @media only screen and (min-width: 1200px) {
    margin-left: var(--sidenav-width);
    &__menu {
      display: none;
    }
  }
}
.user {
  display: flex;
  align-items: center;
  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
  }
  &__img {
    margin-left: 0.5rem;
  }
}
