@use "@angular/material" as mat;

$app-typography: mat.define-typography-config(
  $font-family: "Open Sans",
);
@include mat.core($app-typography);

$color-primary: mat.define-palette(mat.$green-palette, A400);
$color-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$color-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $color-primary,
      accent: $color-accent,
      warn: $color-warn,
    ),
  )
);

@include mat.all-component-themes($app-theme);

html {
  font-size: 100%;
}
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5 !important;
  background-color: #f9f9fe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "src/assets/css/variables";
@import "src/assets/css/utilities";
@import "src/assets/css/flex";
@import "src/assets/css/spacing";
@import "src/assets/css/material";
@import "src/assets/css/typography";
