<aside class="sidenav" [class.sidenav--open]="isOpen">
  <a routerLink="/app/client/listing" class="sidenav__branding">
    <img
      src="assets/images/logo/logo_white.png"
      alt="Airbox Logo"
      loading="lazy"
    />
  </a>
  <nav class="nav">
    <a href="#" class="nav__link">
      <mat-icon class="nav__icon">grid_view</mat-icon>
      <span class="nav__text">Dashboard</span>
    </a>
    <a
      routerLink="/app/client"
      routerLinkActive="nav__link--active"
      class="nav__link"
    >
      <mat-icon class="nav__icon">people_outline</mat-icon>
      <span class="nav__text">Clients</span>
    </a>
    <a
      routerLink="/app/recruiters"
      routerLinkActive="nav__link--active"
      class="nav__link"
    >
      <mat-icon class="nav__icon">manage_accounts</mat-icon>
      <span class="nav__text">Recruiters</span>
    </a>
    <a
      routerLink="/app/candidates"
      routerLinkActive="nav__link--active"
      class="nav__link"
    >
      <mat-icon class="nav__icon">person_add_alt</mat-icon>
      <span class="nav__text">Candidates</span>
    </a>
  </nav>
</aside>
<div
  class="sidenav__overlay"
  [hidden]="!isOpen"
  (click)="toggleSidenav()"
></div>
